# Python artifacts
__pycache__/
*.py[cod]
*.pyo

# Test/cache artifacts
.pytest_cache/
.deepeval/

# Virtual environments
.venv/
venv/

# Local test outputs
outputs/

data/annotations
data/context
data/retrieved/e5*
data/retrieved/voyage3_test_fr.json

*.DS_Store
