# Python artifacts
__pycache__/
*.py[cod]
*.pyo

# Test/cache artifacts
.pytest_cache/
.deepeval/

# Virtual environments
.venv/
venv/

data/annotations
data/context
data/retrieved/e5*
data/retrieved/voyage3_test_fr.json

outpus/gen
outpus/judge_selection
outputs/metrics
outputs/results

*.DS_Store
